.main {
  min-height: 100vh;
  padding: 6rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  margin-top: 15px;
  line-height: 1.15;
  font-family: 'montserrat';
  font-size: 3.7rem;
  text-decoration: none;
  text-align: center;
}

.title {
  animation: txt-color 15s infinite;
}

@keyframes txt-color {
  0% {
    color: #f5b6af;
  }
  14% {
    color: #a0dbf2;
  }
  25% {
    color: #cdeba5;
  }
  50% {
    color: #9382f5;
  }
  75% {
    color: #f58c7e;
  }
  100% {
    color: #f57558;
  }
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  font-family: 'montserrat';

  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  border-color: #cdeba5;
  text-decoration: none;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  text-decoration: none;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  text-decoration: none;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
    text-decoration: none;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
